@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import './animations/rotateInfoButton.css';
@import './animations/scaleLearnMoreButton.css';
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import './animations/rotateInfoButton.css';
@import './animations/scaleLearnMoreButton.css';
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import './animations/rotateInfoButton.css';
@import './animations/scaleLearnMoreButton.css';
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a,
abbr, acronym, address,
big, cite, code, del,
dfn, em, img, ins,
kbd, q, s, samp, small,
strike, strong, sub, sup,
tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
legend, table, caption,
tbody, tfoot, thead,
tr, th, td, article,
aside, canvas, details,
embed, figure, figcaption,
footer, header, hgroup,
menu, nav, output, ruby,
section, summary, time,
mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

ol, ul, li {
  list-style-type: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

section, footer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h2, p, span {
  font-family: "Source Sans Pro", sans-serif;
}

.heading, .learn-more-section__button, .text--paragraph {
  text-align: center;
}
.heading--main {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  line-height: 64px;
}
.heading--secondary {
  font-size: 24px;
  font-weight: 100;
  line-height: 32px;
}

.text--paragraph {
  font-size: 16px;
  line-height: 22px;
}
.text--span {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.6fr;
  align-items: start;
  gap: 3rem;
  padding: 2rem 0;
  height: 170px;
  background: #464547;
}
.footer__column {
  display: flex;
  padding: 0 2rem;
}
.footer__column-first {
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer__column-second, .footer__column-third {
  flex-direction: column;
  height: 5rem;
}
.footer__column-third {
  justify-content: flex-end;
  align-items: flex-start;
}
.footer__title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.footer__email {
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 200px;
    padding: 3rem 0;
    text-align: center;
  }
  .footer__column-second, .footer__column-third {
    gap: 10px;
  }
}
@keyframes fadeSpades {
  10%, 100% {
    opacity: 0;
  }
  65%, 70% {
    opacity: 1;
  }
}
@keyframes scaleAndRotateGreetingImg {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
  }
}
@keyframes scalePoints {
  10%, 90% {
    transform: scale(1);
    top: 0;
  }
  40%, 60% {
    transform: scale(1.08);
  }
}
.greeting-section, .greeting-section__images {
  position: relative;
  width: 100%;
  height: 100vh;
}
.greeting-section__content {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.greeting-section__content-img:hover {
  animation: scaleAndRotateGreetingImg 3s infinite linear;
}
.greeting-section__img {
  position: absolute;
  width: 100%;
  height: 100vh;
  transform-origin: center right;
  object-fit: cover;
}
.greeting-section__img_number2 {
  opacity: 0;
  animation: fadeSpades 5s infinite ease;
}
.greeting-section__img_number3 {
  animation: scalePoints 5s infinite ease;
}
.greeting-section .heading--main, .greeting-section__images .heading--main {
  margin-bottom: 12px;
  color: white;
}
.greeting-section .heading--secondary, .greeting-section__images .heading--secondary {
  color: rgba(255, 255, 255, 0.6980392157);
}

@media only screen and (max-width: 768px) {
  .greeting-section__images, .greeting-section {
    height: 90vh;
  }
  .greeting-section__img {
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, -40%);
    object-fit: none;
    object-position: 100% 100%;
  }
}
.header {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2rem;
  padding: 3rem 0 0 10rem;
  text-transform: uppercase;
  z-index: 2;
  font-family: "Source Sans Pro", sans-serif;
}
.header a {
  color: white;
}
.header__title {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white;
}
.header__hamburger-button {
  display: none;
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.header__nav-item {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2em;
}
.header__nav-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 110%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 5px;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 1000px) {
  .header {
    gap: 0;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
  }
  .header__title {
    margin-left: 2rem;
  }
  .header__nav {
    display: none;
  }
  .header__hamburger-button {
    display: block;
    margin-right: 2rem;
  }
}
@keyframes fadeSpades {
  10%, 100% {
    opacity: 0;
  }
  65%, 70% {
    opacity: 1;
  }
}
@keyframes scaleAndRotateGreetingImg {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
  }
}
@keyframes scalePoints {
  10%, 90% {
    transform: scale(1);
    top: 0;
  }
  40%, 60% {
    transform: scale(1.08);
  }
}
.info-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  height: 100%;
  background: #EEEEEE;
}
.info-section .heading--main {
  color: #464547;
}
.info-section .heading--secondary {
  color: #666666;
}
.info-section__paragraphs-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 0 14rem;
  color: #666666;
}
.info-section__parapraph {
  padding: 0;
  text-align: left;
}
.info-section__button {
  height: 45px;
  width: 140px;
  background: #55C2D8;
  border-radius: 26px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  transition: transform 0.2s ease;
}
.info-section__button:hover {
  animation: rotateInfoButton 1.5s linear;
  transform-origin: top left;
}

@media only screen and (max-width: 768px) {
  .info-section {
    padding: 4rem 0;
    background: #EEEEEE;
  }
  .info-section__paragraphs-group {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
  }
}
@keyframes fadeSpades {
  10%, 100% {
    opacity: 0;
  }
  65%, 70% {
    opacity: 1;
  }
}
@keyframes scaleAndRotateGreetingImg {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
  }
}
@keyframes scalePoints {
  10%, 90% {
    transform: scale(1);
    top: 0;
  }
  40%, 60% {
    transform: scale(1.08);
  }
}
.learn-more-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 6rem 0;
  background-image: url("../../assets/learn-more_bg.svg");
  background-position: center;
  background-size: 100%;
}
.learn-more-section .heading, .learn-more-section .learn-more-section__button, .learn-more-section .text--paragraph {
  color: white;
}
.learn-more-section__button {
  position: relative;
  height: 150px;
  width: 150px;
  padding: 8px 0 0 10px;
  font-size: 80px;
  border-radius: 100px;
  background: #39C2D7;
}
.learn-more-section__button:hover {
  animation: scaleLearnMoreButton 1.2s linear;
  transform-origin: center center;
}

@media only screen and (max-width: 992px) {
  .learn-more-section {
    height: 70vh;
    background-size: cover;
    padding: 6rem 0;
  }
}
@media only screen and (max-width: 768px) {
  .learn-more-section {
    height: 60vh;
    background-size: auto;
  }
  .learn-more-section__button {
    height: 100px;
    width: 100px;
    padding: 5px 0 0 8px;
    font-size: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
