@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

//font family
$fontOswald: 'Oswald', sans-serif;
$fontSourceSansPro: 'Source Sans Pro', sans-serif;

//font size
$fs1: 20px;
$fs2: 16px;

//sizes
$fullPercent: 100%;
$fullHeightVh: 100vh;
$fullWidthVw: 100vw;

// media queries
$xxl: 1600px;
$xl:  1200px;
$lg:  992px;
$md:  768px;
$sm:  576px;
$xs:  380px;

//colors
$lightMain: white;
$lightSecondary: #FFFFFFB2;
$lightThird: #FFFFFF66;
$darkMain: black;
$darkSecondary: #666666;
$darkThird: #464547;

//mixins
@mixin positioning($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex($flexDirection, $gap) {
  display: flex;
  flex-direction: $flexDirection;
  gap: $gap;
}

@mixin flexAlignment($justifyContent, $alignItems) {
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin fullContainerVh {
  width: 100%;
  height: $fullHeightVh;
}

@mixin fullContainerPercent {
  width: $fullPercent;
  height: $fullPercent;
}