@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
section, footer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h2, p, span {
  font-family: "Source Sans Pro", sans-serif;
}

.heading, .text--paragraph {
  text-align: center;
}
.heading--main {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  line-height: 64px;
}
.heading--secondary {
  font-size: 24px;
  font-weight: 100;
  line-height: 32px;
}

.text--paragraph {
  font-size: 16px;
  line-height: 22px;
}
.text--span {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

/*# sourceMappingURL=styles.css.map */
