@use '../variables/variables' as styles;

section, footer {
    @include styles.fullContainerPercent;
    overflow: hidden;
}

h2, p, span {
    font-family: styles.$fontSourceSansPro;
}

.heading {
    text-align: center;
    &--main {
        font: {
            size: 48px;
            family: styles.$fontOswald;
        }
        line-height: 64px;
    }

    &--secondary {
        font: {
            size: 24px;
            weight: 100;
        }
        line-height: 32px;
    }
}

.text {
    &--paragraph {
        @extend .heading;
        font-size: 16px;
        line-height: 22px;
    }

    &--span {
        color: styles.$lightThird;
        font-weight: 400;
        font-size: styles.$fs1;
        line-height: styles.$fs1;
    }
}