@use '../variables/variables' as styles;

.footer {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.6fr;
    align-items: start;
    gap: 3rem;

    padding: 2rem 0;
    height: 170px;

    background: styles.$darkThird;

    &__column {
        display: flex;
        padding: 0 2rem;

        &-first {
            flex-direction: row;
            gap: 1rem;
            @include styles.flexAlignment(flex-end, flex-start);
        }

        &-second {
            flex-direction: column;

            height: 5rem;
        }

        &-third {
            @include styles.flexAlignment(flex-end, flex-start);
            @extend .footer__column-second;
        }
    }

    &__title {
        color: styles.$lightMain;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    &__email {
        color: styles.$lightThird;
    }
}


@media only screen and (max-width: styles.$md) {
    .footer {
        @include styles.flex(column, 2rem);
        align-items: center;

        height: 200px;
        padding: 3rem 0;

        text-align: center;

        &__column {
            &-second {
                gap: 10px;
            }
        }
    }

}
