@use '../variables/variables' as styles;
@use '../animations';

.greeting-section {
    position: relative;
    @include styles.fullContainerVh;

    &__images { @extend .greeting-section; }

    &__content {
        position: absolute;
        @include styles.positioning(50%, 0, 0, 0);

        @include styles.fullContainerVh;
        transform: translate(0, -50%);

        @include styles.flex(column, 1.4rem);
        @include styles.flexAlignment(center, center);

        background: transparent;

        &-img:hover { animation: scaleAndRotateGreetingImg 3s infinite linear; }
    }

    &__img {
        position: absolute;
        @include styles.fullContainerVh;
        transform-origin: center right;
        object-fit: cover;

        &_number2 {
            opacity: 0;
            animation: fadeSpades 5s infinite ease;
        }

        &_number3 { animation: scalePoints 5s infinite ease; }
    }

    .heading {
        &--main {
            margin-bottom: 12px;
            color: styles.$lightMain;
        }

        &--secondary { color: styles.$lightSecondary; }
    }
}

@media only screen and (max-width: styles.$md) {
    .greeting-section__images, .greeting-section { height: 90vh; }
    .greeting-section__img {
        @include styles.positioning(40%, 0, 0, 0);

        width: styles.$fullPercent;
        height: styles.$fullPercent;

        transform: translate(0, -40%);
        object-fit: none;
        object-position: 100% 100%;
    }
}