/* Error: Module loop: this module is already being loaded.
 *   ,--> ..\general\styles.scss
 * 1 | @use '../styles';
 *   | ^^^^^^^^^^^^^^^^ new load
 *   '
 *   ,--> greeting-section.scss
 * 1 | @use '../styles';
 *   | ================ original load
 *   '
 *   ..\general\styles.scss 1:1  @import
 *   ..\styles.scss 2:9          @use
 *   greeting-section.scss 1:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Module loop: this module is already being loaded.\a   \250c \2500 \2500 > ..\\general\\styles.scss\a 1 \2502  @use '../styles';\d\a   \2502  ^^^^^^^^^^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > greeting-section.scss\a 1 \2502  @use '../styles';\d\a   \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   ..\\general\\styles.scss 1:1  @import\a   ..\\styles.scss 2:9          @use\a   greeting-section.scss 1:1   root stylesheet";
}
