@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.header {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2rem;
  padding: 3rem 0 0 10rem;
  text-transform: uppercase;
  z-index: 2;
  font-family: "Source Sans Pro", sans-serif;
}
.header a {
  color: white;
}
.header__title {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white;
}
.header__hamburger-button {
  display: none;
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.header__nav-item {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2em;
}
.header__nav-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 110%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 5px;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 1000px) {
  .header {
    gap: 0;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
  }
  .header__title {
    margin-left: 2rem;
  }
  .header__nav {
    display: none;
  }
  .header__hamburger-button {
    display: block;
    margin-right: 2rem;
  }
}

/*# sourceMappingURL=header.css.map */
