@use '../variables/variables' as styles;

.header {
    @include styles.flex(row, 10rem);
    align-items: center;

    position: absolute;
    @include styles.positioning(0, 0, 0, 0);

    height: 2rem;
    padding: 3rem 0 0 10rem;

    text-transform: uppercase;

    z-index: 2;

    font-family: styles.$fontSourceSansPro;

    a {
        color: white;
    }

    &__title {
        position: relative;

        font: {
            size: styles.$fs1;
            weight: 700;
        }
        letter-spacing: 0.1em;

        color: white;
    }

    &__hamburger-button {
        display: none;
    }

    &__nav {
        @include styles.flex(row, 3rem);
    }

    &__nav-item {
        position: relative;

        font-size: styles.$fs2;
        line-height: styles.$fs2;
        letter-spacing: 0.2em;

        &:nth-child(2)::after {
            content: '';

            position: absolute;
            @include styles.positioning(110%, 0, 0, 0);

            width: 95%;
            height: 5px;

            border-bottom: 2px solid white;
        }
    }
}


@media only screen and (max-width: 1000px) {
    .header {
        gap: 0;
        justify-content: space-between;

        width: 100%;
        padding: 2rem 0;

        &__title {
            margin-left: 2rem;
        }

        &__nav {
            display: none;
        }

        &__hamburger-button {
            display: block;

            margin-right: 2rem;
        }
    }
}