@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@keyframes rotateInfoButton {
  0%, 100% {
    transform: rotate(0deg) translateY(0);
  }
  30%, 70% {
    transform: rotate(15deg) translateY(2px);
  }
}
.info-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  height: 100%;
  background: #EEEEEE;
}
.info-section .heading--main {
  color: #464547;
}
.info-section .heading--secondary {
  color: #666666;
}
.info-section__paragraphs-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 0 14rem;
  color: #666666;
}
.info-section__parapraph {
  padding: 0;
  text-align: left;
}
.info-section__button {
  height: 45px;
  width: 140px;
  background: #55C2D8;
  border-radius: 26px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  transition: transform 0.2s ease;
}
.info-section__button:hover {
  animation: rotateInfoButton 1.5s linear;
  transform-origin: top left;
}

@media only screen and (max-width: 768px) {
  .info-section {
    padding: 4rem 0;
    background: #EEEEEE;
  }
  .info-section__paragraphs-group {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
  }
}

/*# sourceMappingURL=info-section.css.map */
