@use '../variables/variables' as styles;
@use '../animations';

.info-section {
    @include styles.flex(column, 3rem);
    @include styles.flexAlignment(center, center);

    padding: 3rem 0;
    height: 100%;

    background: #EEEEEE;

    .heading {
        &--main {
            color: styles.$darkThird;
        }

        &--secondary {
            color: styles.$darkSecondary;
        }
    }

    &__paragraphs-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        padding: 0 14rem;
        color: #666666;
    }

    &__parapraph {
        padding: 0;
        text-align: left;
    }

    &__button {
        height: 45px;
        width: 140px;

        background: #55C2D8;
        border-radius: 26px;

        font: {
            family: styles.$fontOswald;
            size: styles.$fs2;
        }
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: styles.$lightMain;

        transition: transform .2s ease;

        &:hover {
            animation: rotateInfoButton 1.5s linear;
            transform-origin: top left;
        }
    }
}



@media only screen and (max-width: 768px) {
    .info-section {
        padding: 4rem 0;

        background: #EEEEEE;

        &__paragraphs-group {
            @include styles.flex(column, 4rem);

            padding: 0 2rem;
        }
    }
}