@use '../variables/variables' as styles;
@use '../animations';

.learn-more-section {
    @include styles.flex(column, 3rem);
    @include styles.flexAlignment(center, center);

    height: 70vh;
    padding: 6rem 0;

    background: {
        image: url('../../assets/learn-more_bg.svg');
        position: center;
        size: 100%;
    }

    .heading {
        color: styles.$lightMain;
    }

    &__button {
        position: relative;

        height: 150px;
        width: 150px;

        padding: 8px 0 0 10px;

        font-size: 80px;

        @extend .heading;

        border-radius: 100px;
        background: #39C2D7;

        &:hover {
            animation: scaleLearnMoreButton 1.2s linear;
            transform-origin: center center;
        }
    }
}

@media only screen and (max-width: 992px) {
    .learn-more-section {
        height: 70vh;
        background-size: cover;
        padding: 6rem 0;
    }
}

@media only screen and (max-width: 768px) {
    .learn-more-section {
        height: 60vh;
        background-size: auto;

        &__button {
            height: 100px;
            width: 100px;

            padding: 5px 0 0 8px;

            font-size: 50px;
        }
    }
}