@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@keyframes scaleLearnMoreButton {
  0%, 100% {
    transform: scale(1);
  }
  40%, 60% {
    transform: scale(0.8);
    background: white;
    color: #39C2D7;
  }
}
.learn-more-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 6rem 0;
  background-image: url("../../assets/learn-more_bg.svg");
  background-position: center;
  background-size: 100%;
}
.learn-more-section .heading, .learn-more-section .learn-more-section__button {
  color: white;
}
.learn-more-section__button {
  position: relative;
  height: 150px;
  width: 150px;
  padding: 8px 0 0 10px;
  font-size: 80px;
  border-radius: 100px;
  background: #39C2D7;
}
.learn-more-section__button:hover {
  animation: scaleLearnMoreButton 1.2s linear;
  transform-origin: center center;
}

@media only screen and (max-width: 992px) {
  .learn-more-section {
    height: 70vh;
    background-size: cover;
    padding: 6rem 0;
  }
}
@media only screen and (max-width: 768px) {
  .learn-more-section {
    height: 60vh;
    background-size: auto;
  }
  .learn-more-section__button {
    height: 100px;
    width: 100px;
    padding: 5px 0 0 8px;
    font-size: 50px;
  }
}

/*# sourceMappingURL=learn-more-section.css.map */
