@import 'rotateInfoButton.css';
@import 'scaleLearnMoreButton.css';
@keyframes fadeSpades {
  10%, 100% {
    opacity: 0;
  }
  65%, 70% {
    opacity: 1;
  }
}
@keyframes scaleAndRotateGreetingImg {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
  }
}
@keyframes scalePoints {
  10%, 90% {
    transform: scale(1);
    top: 0;
  }
  40%, 60% {
    transform: scale(1.08);
  }
}

/*# sourceMappingURL=animations.css.map */
