@keyframes rotateButton {
  0%, 100% {
    transform: rotate(0deg) translateY(0);
  }
  30%, 70% {
    transform: rotate(15deg) translateY(2px);
  }
}

/*# sourceMappingURL=rotateInfoButton.css.map */
