@keyframes scaleLearnMoreButton {
  0%, 100% {
    transform: scale(1);
  }
  40%, 60% {
    transform: scale(0.8);
    background: white;
    color: #39C2D7;
  }
}

/*# sourceMappingURL=scaleLearnMoreButton.css.map */
