@keyframes scaleAndRotateGreetingImg {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
  }
}

/*# sourceMappingURL=scaleAndRotateGreetingImg.css.map */
